<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/stylesheets/example.css">
  <!-- Latest compiled and minified CSS -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/example.js"></script>

</head>

  <body>
  <div class="container">
  <!-- embed the body of the page (specified by the referrer when it calls layout()) -->
    <p>
		HEY THERE!!!!
	</p>
  </div>
  </body>
</html>
