<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Om nom nom</title>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
		<!-- FONT AEWESOME ICONS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	</head>
	<body>
    	<!-- NAV BAR -->
    	<div id="navbar-container">
		    <div id="navbar">
	    		<div id="navbar-title"><span>Yelpeees</span></div>

	    		<!-- SEARCH BOX -->
	    		<div id="search-box">
		    		<div id="search-btn">
		    			<i class="fa fa-search"></i>
		    			<span id="search-btn-query">Search</span>
	    			</div>
				</div>

				<!-- MENU ITEMS -->
		    	<ul id="menu">
		    		<li><a>Sign Up</a></li>
					<li><a>Log in</a></li>
					<li><a>Help</a></li>    		
		    	</ul>
		    </div>

		    <div id="search-fields-div">
		    	<form class="form-horizontal">
		    		<div class="form-group">
		    			<label for="search-food-input" class="col-sm-1 control-label">Food</label>
		    			<div class="col-sm-5">
			    			<input type="text" class="form-control" id="search-input-food" placeholder="Food">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<label for="search-input-place" class="col-sm-1 control-label">Place</label>
		    			<div class="col-sm-5">
		    				<input type="text" class="form-control" id="search-input-place" placeholder="Restaurant, food truck, or other food venue">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-sm-offset-1">
		    				<button type="submit" class="btn btn-default" id="search-input-btn">Search</button>
		    			</div>
		    		</div>
		    	</form>
		    </div>
	    </div>

	    <div class="container-fluid">
		    <!-- RESULT DIV -->
		    <div class="container-fluid" id="wrapper-result">
				<div class="row" id="result-div">

					<!-- FOOD INFO -->
					<div class=".col-xs-12 .col-sm-8" id="result-left">

					</div>

					<!-- FOOD REVIEW -->
					<div class=".col-xs-12 .col-sm-4" id="result-right">
						
					</div>

				</div>
		    </div>
		</div>

<!-- 
		<div id="top-shadow" class="container centered">
			<form id="foodsearch" action="javascript:void(0);">
				<div class="input-group">
    				<span class="input-group-addon" id="basic-addon1">Find</span>
		      		<input type="text" name="food" class="form-control" placeholder="Pizza, Burgers, Wings, etc." aria-describedby="basic-addon1">
			    </div>

			    <br>
	    		<div class="input-group">
    				<span class="input-group-addon" id="basic-addon1">@</span>
		      		<input type="text" name="restaurant" class="form-control" placeholder="Restaurant (Optional)" aria-describedby="basic-addon1">
			    </div>

			    <br>
			    <div class="input-group">
			    	<span class="input-group-addon" id="basic-addon1">Near</span>
			    	<input type="text" name="location" class="form-control" placeholder="Location" aria-describedby="basic-addon1">
			    </div>

			    <br>
			    <div class="btn">
			    	<span class="input-group-btn">
				        <button type="submit" id="search-button" class="btn">Search!</button>
			      	</span>
			    </div>
			</form>
		</div> -->

		<!-- LOADING SCREEN -->
		<div id="loading-screen"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>