<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Om nom nom</title>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css">
		<!-- FONT AEWESOME ICONS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/loading-spinner.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/loading-spinner.css">
	</head>
	<body>
    	<!-- NAV BAR -->
    	<div id="navbar-container">
		    <div id="navbar">
	    		<div id="navbar-title"><span>Yelpeees</span></div>

	    		<!-- SEARCH BOX -->
	    		<!-- <div id="search-box">
		    		<div id="search-btn">
		    			<i class="fa fa-search"></i>
		    			<span id="search-btn-query">Search</span>
	    			</div>
				</div> -->

				<div id="nav-search-wrapper">
					<div id="restaurant-search-wrapper">
						<!-- RESTAURANT SEARCH -->
						<div id="restaurant-search-div" class="input-group">
					    	<input type="text" class="form-control" placeholder="Search for restaurant">
					    	<span class="input-group-btn">
					        	<button class="btn btn-default" id="search-input-btn" type="button"><i class="fa fa-search"></i></button>
					    	</span>
				    	</div>
			    	</div>

			    	<!-- CURRENT LOCATION BUTTON -->
			    	<div id="current-location-div">
				    	<div id="current-location-btn" title="Get current location">
		    				<div class="loading-spinner" id="loading-spinner-location">
								<div class="dot dotOne"></div>
								<div class="dot dotTwo"></div>
								<div class="dot dotThree"></div>
							</div>
			    			<i class="fa fa-location-arrow"></i>
		    			</div>
		    			<a>Edit Location</a>
	    			</div>
		    	</div>

				<!-- MENU ITEMS -->
		    	<ul id="menu">
		    		<li><a>Sign Up</a></li>
					<li><a>Log in</a></li>
					<li><a>Help</a></li>    		
		    	</ul>
		    </div>

		    <div id="edit-restaurant-div">
		    	<form class="form-horizontal">
			    	<div class="form-group">
		    			<label for="search-food-input" class="col-sm-1 control-label">Location</label>
		    			<div class="col-sm-5">
			    			<input type="text" class="form-control" id="search-input-location" 
			    			placeholder="Type in your location or press the get location button">
		    			</div>
		    			<!-- <div id="current-location-btn" title="Get current location">
		    				<div class="loading-spinner" id="loading-spinner-location">
								<div class="dot dotOne"></div>
								<div class="dot dotTwo"></div>
								<div class="dot dotThree"></div>
							</div>
			    			<i class="fa fa-location-arrow"></i>
		    			</div> -->
		    		</div>
		    		
		    		<!-- 
		    		<div class="form-group">
		    			<label for="search-food-input" class="col-sm-1 control-label">Food</label>
		    			<div class="col-sm-5">
			    			<input type="text" class="form-control" id="search-input-food" placeholder="Food">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<label for="search-input-restaurant" class="col-sm-1 control-label">Place</label>
		    			<div class="col-sm-5">
		    				<input type="text" class="form-control" id="search-input-restaurant" placeholder="Restaurant, food truck, or other food venue">
		    			</div>
		    		</div>
		    		<div class="form-group">
		    			<div class="col-sm-offset-1">
		    				<button type="submit" class="btn btn-default" id="search-input-btn">Search</button>
		    			</div>
		    		</div> -->
		    	</form>
		    </div>
	    </div>

	    <div class="container-fluid" id="container-div">

		    <!-- ERROR MESSAGE -->
	    	<div id="error-div">
		    	<div class='alert alert-warning' role='alert'>No reviews found!</div>
	    	</div>
		    
		    <!-- RESULT DIV -->
		    <div class="container-fluid" id="wrapper-result">
				<!-- HEADER AND RATING -->
				<div id="food-item-div">
					<span id="food-item-header"></span>
					<div id="progress-div">
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width: 65%"></div>
							<div class="progress-bar progress-bar-danger" style="width: 35%"></div>
						</div>
						<span id="rating-span"><span id="sentiment-rating"></span>% rating from <span id="num-reviews"></span> reviews</span>
					</div>
				</div>

				<!-- REVIEWS -->
				<div id="reviews-div"></div>
		    </div>
		</div>

		<!-- LOADING SCREEN -->
		<div id="loading-screen">
			<div id="loading-container">
				<div class="loading-spinner" id="loading-spinner-posts">
					<div class="dot dotOne"></div>
					<div class="dot dotTwo"></div>
					<div class="dot dotThree"></div>
				</div>
				<div id="loading-text-div">
					<h4>Loading Results</h4>
					<p><a id="cancel-load">Cancel</a></p>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	</body>
</html>