body {
  background-color: #f6f6f6;
  /*background-image: url("../northern-lights.jpg");
  background-size: cover;*/
}

.container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-8, .col-md-4, .col-sm-12 {
  padding: 0;
}


/* SPLASH PAGE */

#splash-page-div {
  position: absolute;
  top: 50px;
  bottom: 0;
  overflow: hidden;
}

#splash-page-img {
  height: 100%;
  width: auto;
}

#history-div {
  color: #C0CFDA;
  padding: 20px;
  position: absolute;
  /*bottom: 20px;*/
  /*margin-left: 15px;*/
  overflow: scroll;
  /*top: 130px;*/
  top: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#history-div h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.hist {
  margin-bottom: 5px;
}

/* LOGIN & SIGNUP */

.card-account h2 {
  margin: 0;
  font-weight: bold;
}

.card-account {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.account-error {
  color: red;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/* NAV */

#navbar-container {
  background-color: rgba(46, 134, 193, 0.95);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #2E86C1;
  z-index: 100;
  top: 0;
}

#navbar {
  background-color: #3498db;
  height: 50px;
}

#menu, #navbar-title{
  display: inline-block;
  line-height: 50px;
}

#navbar-title {
  margin-right: 5px;
  color: #fff;
  display: none;
}


#nav-search-wrapper {
  display: inline-block;
  margin-top: 8px;
}


/* RESTAURANT SEARCH */

#restaurant-search-wrapper {
  display: inline-block;
  width: 200px; 
  vertical-align: middle;
}

#restaurant-search-div input {
  border-left: 1px solid #2E86C1;
  border-top: 1px solid #2E86C1;
  border-bottom: 1px solid #2E86C1;
  border-right: none;
}

#restaurant-search-div span button {
  border-right: 1px solid #2E86C1;
  border-top: 1px solid #2E86C1;
  border-bottom: 1px solid #2E86C1;
  background-color: #f6f6f6;
  color: #888;
}

#restaurant-search-div span button:hover {
  border-right: 1px solid #2E86C1;
  border-top: 1px solid #2E86C1;
  border-bottom: 1px solid #2E86C1;
  border-left: none;
  background-color: #e8e8e8;
}

#search-input-location {
  display: inline-block;
}


/* LOCATION SEARCH */

#edit-location-div {
  width: 100%;
  border-top: 1px solid #2E86C1;
  display: none;
}

#current-location-div a {
  color: #16405B;
}

#current-location-div a:hover {
  cursor: pointer;
}

#edit-location-div form {
  margin-left: 11px;
  margin-top: 10px;
  color: #fff;
}

#edit-location-div form input, #edit-location-div form button {
  border: 1px solid #2E86C1;
}

#current-location-div {
  display: none;
  color: #fff;
  margin-left: 10px;  
}

#current-location-div #current-zip {
  font-style: italic;
  margin-right: 5px;
}

#current-location-btn {
  display: inline-block;
  padding: 8px;
}

#current-location-btn i {
  font-size: 20px;
  color: #f1c40f;
}

#current-location-btn:hover {
  cursor: pointer;
}

#current-location-btn:hover i {
  color: #f39c12;
}

#location-input-div {
  display: inline-block;
}


/* MENU */

#menu {
  float: right;
  padding-left: 0;
  margin: 0;
}

#menu li {
  list-style-type: none;
  display: inline;
  padding: 20px 0 20px 10px;
}

#menu li a {
  color: #16405B;
}

#menu li:hover {
  cursor: pointer;
}


/* LOADING SCREEN */

#loading-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

#loading-container {
  position: absolute;
  width: 100%;
  top: 100px;
}

#loading-text-div {
  text-align: center;
  margin-top: 50px;
}

#loading-text-div a:hover {
  cursor: pointer;
}


#reviews-text-div {
  color: #041042;
}

/* REVIEW DATA */

.card {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  width: 100%;
}

#wrapper-result {
  /*display: none;*/
  padding: 0;
  margin-top: 60px;
}

#wrapper-result > div {
  padding-left: 0;
  padding-right: 0;
}


/* RESTAURANT RESULTS */

#restaurant-results-div {
  display: none;
}

#restaurant-results-div .restaurant-result {
  min-height: 80px;
  display: table;
}

#restaurant-results-div .restaurant-result:hover {
  background-color: rgba(240, 240, 240, 0.9);
  cursor: pointer;
}

#restaurant-results-div .restaurant-name {
  display: table-cell;
  color: #3498db;
  vertical-align: middle;
  width: auto;
}

#restaurant-results-div .restaurant-name h3 {
  margin: 0;
}

#restaurant-results-div .restaurant-address {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  white-space: nowrap;
  width: 250px;
}

#restaurant-results-div .restaurant-address p {
  margin-bottom: 0;
}


/* FOOD RESULTS */

#picked-restaurant-div {
  display: none;
}

#search-food-input {
  width: 90%;
  margin-left: 10px;
  border: 0;
}

#food-rating-div {
  display: none;
  color: #041042;
}

#food-item-header {
  font-weight: bold;
  font-size: 50px;
  padding-right: 10px;
}

#progress-div {
  display: inline-block; 
}

.progress {
  height: 6px;
  width: 300px;
  margin: 0;
  border-radius: 2px;
}

#rating-span {
  font-size: 12px;
  font-style: italic;
  color: #777;
}

#restaurant-info-div {
  padding-left: 10px;
}

#restaurant-info-div h3 {
  margin-top: 0;
}

#addr_line1 {
  margin: 0;
}


/* ERROR DIV */

#error-div {
  display: none;
  margin-top: 280px;
}

@media (min-width : 490px) {
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }

  #current-location-div {
    display: inline-block;
  }
}

@media (min-width : 610px) {
  #restaurant-search-wrapper {
    width: 300px;
  }
}


/* TABLETS AND UP */
@media (min-width : 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* FOR SPLASH PAGE */
@media (min-width : 1200px) {
  #splash-page-img {
    width: 100%;
    height: auto;
  }
}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { }*/
