/*.top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 42px;
z-index: 999;
-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
display: none;
}


.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.btn-custom {
  background-color: hsl(360, 100%, 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
  border-color: #ffffff #ffffff hsl(360, 100%, 100%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
} */


body {
  /*background-color: #f6f6f6;*/
}

/* NAV */

#navbar-container {
  background-color: rgba(240, 240, 240, 0.8);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgb(220, 220, 220);
  z-index: 100;
  top: 0;
}

#navbar {
  height: 50px;
}

#menu, #navbar-title{
  display: inline-block;
  line-height: 50px;
}

#navbar-title {
  margin: 0 10px;
}


/* SEARCH */

#search-box {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

#search-box #search-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#search-box i {
  padding: 0 5px;
}

#search-box #search-btn {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 8px;
}

#search-box #search-btn:hover {
  cursor: pointer;
}

#search-fields-div {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  border-top: 1px solid rgb(230, 230, 230);
  padding-bottom: 10px;
}

#search-fields-div form {
  margin-left: 11px;
  margin-top: 10px;
}

#search-input-btn {
  margin-left: 15px;
}


/* MENU */

#menu {
  float: right;
  padding-left: 0;
  margin: 0;
}

#menu li {
  list-style-type: none;
  display: inline;
}

#menu li a {
  padding: 20px 10px;
}

#menu li a:hover {
  cursor: pointer;
}


/* LOADING SCREEN */

#loading-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

#loading-container {
  position: absolute;
  width: 100%;
  top: 100px;
}

#loading-text-div {
  text-align: center;
  margin-top: 50px;
}

#loading-text-div a:hover {
  cursor: pointer;
}


/* REVIEW DATA */


#wrapper-result {
  display: none;
  padding: 0;
  margin-top: 50px;
}

#food-item-header {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

#progress-div {
  display: inline-block; 
  margin-left: 10px;
}

.progress {
  height: 6px;
  width: 300px;
  margin: 0;
  border-radius: 2px;
}

#rating-span {
  font-size: 12px;
  font-style: italic;
  color: #777;
}


/* ERROR DIV */
#error-div {
  display: none;
  margin-top: 280px;
}


@media (min-width : 590px) {
  #navbar-title {
    margin: 0 20px;
  }

  #search-box {
    width: 300px;
  }

  #search-box i {
    padding: 0 8px;
  }
}


/* TABLETS AND UP */
@media (min-width : 768px) {

}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { }*/
